.form {

    &__birthday {
        gap: 16px;
    }

    &__group {
        gap: 4px;
    }

    label {
        color: $smokeyGrey;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
    }

    input {
        width: 88px;
        padding: 12px 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.2px;
        border-radius: 8px;
        border: 1px solid $lightGrey;

        &:focus,
        &:active {
            outline: none;
            border: 1px solid $purple;
            caret-color: $purple;
        }

    }

    ::placeholder {
        color: $offBlack;
        opacity: .5;
    }

    .submitArea {
        margin: 32px 0;
    }

    .labelInvalid {
        color: $lightRed !important;
    }
    
    .inputInvalid {
        border: 1px solid $lightRed !important;
    }

    .errorMsg {
        font-size: 8.8px;
        font-weight: 400;
        color: $lightRed;
        text-transform: none;
        top: calc(100% + 8px);
    }
    
}