.submitArea {

    width: 100%;

    &__line {
        content: '';
        width: 115px;
        height: 1px;
        background-color: $lightGrey;
    }

}

button {

    width: 64px;
    height: 64px;
    gap: 8px;
    background-color: $purple;
    border: none;
    border-radius: 50%;

    &:hover {
        background-color: $offBlack;
    }
    
}